<div>
  <h2>Person Add</h2>
  <div>
    <label>Person Nickname:
      <input [(ngModel)]="personData.nickname" placeholder="Person Nickname"/>
    </label><br>
    <label>Person First Name:
      <input [(ngModel)]="personData.first_name" placeholder="Person First Name"/>
    </label><br>
    <label>Person Last Name:
      <input [(ngModel)]="personData.last_name" placeholder="Person Last Name"/>
    </label><br>
    <label>Person Birth Date:
      <input [(ngModel)]="personData.birth_date" placeholder="Person Birth Date"/>
    </label><br>
    <label>Person Creation Date:
      <input [(ngModel)]="personData.creation_date" placeholder="Person Creation Date"/>
    </label><br>
    <label>Person Active:
      <input [(ngModel)]="personData.active" placeholder="Person Active"/>
    </label><br>
    <label>Person Sex:
      <input [(ngModel)]="personData.sex" placeholder="Person Sex"/>
    </label><br>
  </div>
  <button (click)="addPerson()">Save</button>
</div>